<!-- ko with: HomeModel -->
<div class="jumbotron">
    <h1>Guinness Travel Guide</h1>
    <p class="lead">This is a guide to help you locate your closest guinness place</p>
    <div class="col-lg-4">
        <form class="form-horizontal" data-bind="submit: searchLocation">
            <div id="custom-templates" class="input-group">
                <input type="text" id="inputTitle" data-bind="value: searchInput" class="typeahead" placeholder="search...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Search</button>
                </span>
            </div><!-- /input-group -->
        </form>
    </div><br />
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Other options <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">I found a guinness place!!</a></li>
            <li><a href="#">Rate a guinness place!</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Guinness offical website</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="panel-body">
        <ul class="list-unstyled" data-bind="foreach: locations">
            <li>
                <strong><span data-bind="text: name"></span></strong>: <span data-bind="text: city"></span>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <h1>Current location:</h1>
    <div id="map_canvas"></div>
</div>


<!-- /ko -->
